name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Backend Docker Image
      run: |
        docker build . \
          --file backend/Dockerfile \
          --tag autonote-backend:$(date +%s) \
          --tag autonote-backend:latest

  build-frontend:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Frontend Docker Image
      run: |
        docker build frontend \
          --file frontend/Dockerfile \
          --tag autonote-frontend:$(date +%s) \
          --tag autonote-frontend:latest
